.slider {
    width: 100%;
    margin:auto;
 }
 
 .slider ul {
 display: flex;
 padding: 0;
 width: 220%;
 animation: cambio 10s infinite alternate linear;
 }
 
 .slider li {
 width: 100%;
 list-style: none;
 }
 .slider img {
    width:98
    %;
  
 }
 
 @keyframes cambio {
    0%{ margin-left: 0%;}
    10%{margin-left:0;}
    15%{margin-left: 0;}
    20%{margin-left: 0;}
    0%{ margin-right:0;}
    25%{ margin-left:-20%}
    45%{margin-left:-40%}
    55%{margin-left:-45%}
    70%{margin-left:-60%}
    75%{margin-left:-65%}
    80%{ margin-left:-80%}
    90%{margin-left:-90%}
    100%{ margin-left:-100%}
 }