body {
    background-attachment: fixed;
    background-repeat: round;
    text-align: center;
    opacity: 70px;
    color: aliceblue; 
    margin: 0%;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: black;
}

#containerInicio {
    width: 80%;
    max-width: 1000 px;
    margin:0 auto;
    overflow: hidden;
}
.navegacion{
    width: 1000px;
    margin: 30px auto;
    background: #3b3a3b;
    height: 95px;;
}
.navegacion ul{
    list-style: none;
    display: block;
}

.navegacion li {
    height: 80px;
}


.areaIcon {
    float: left;
}
.icon {
    width: 50%;
    margin: 0;
    padding: 0;
 
    float: left;
}

#inicio {
    margin-top: 20%;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;

}

#movies {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
figure {
    width: 100%;
}
.menu {
    height: ;
}

.menu > li{
position: relative;
display: inline-block;
}

.menu > li > a{
    display: block;
    padding: 15px 20px;
    color:  #ebe8f8;
    text-decoration: none;
}
.menu li a:hover{
    color: rgb(212, 192, 9);
    transition: all .3s;
}
.submenu{
    position: absolute;
    background: #333333;
    width: 130%;
    display: none;
}
.submenu li a{
    display: block;
    padding: 15px;
    color: white;
    font-family: _'open sans'_;
    text-decoration: none;
}
.menu li:hover .submenu{
display: block
}

.movie-box {
    width: 30%;
    height: 50%;
    margin: 2%;
    display: inline-block;
}

.slider li {
    width: 100%;
    list-style: none;
}
    
.slider ul{
    display: flex;
    animation: cambio 10s infinite alternate linear;
    margin-top: 5%;
}
@keyframes cambio {
    0%{ margin-left: 0%;}
    10%{margin-left:0;}
    15%{margin-left: 0;}
    20%{margin-left: 0;}
    0%{ margin-right:0;}
    25%{ margin-left:-20%}
    45%{margin-left:-40%}
    55%{margin-left:-45%}
    70%{margin-left:-60%}
    75%{margin-left:-65%}
    80%{ margin-left:-80%}
    90%{margin-left:-90%}
    100%{ margin-left:-100%}
}

#containerInicio h2 {
    margin-top: 5%;
    margin-bottom: 2%;
    font-family: 'Roboto Condensed', sans-serif;
}

#containerInicio h1 {
    margin-bottom: 2%;
    font-family: 'Oswald', sans-serif;
}

#containerMovies{
    font-family: 'Oswald', sans-serif;
}
.footer {
    background: #2B2929;
    height: 60px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    color: white;
    text-align: center;
    padding-top: 2%;
}

#filterYear {
    width: 10%;
    height: 30px;;
    text-align: center;
    font-size: 15px;
    background: transparent;
    border: none;
    color: white;
    
}

.values{
    color: black;
}